<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-signicat"
    version="1.0.0">

    <name>cordova-plugin-signicat</name>

    <js-module name="Signicat" src="www/signicat.js">
        <clobbers target="Signicat" />
    </js-module>


    <!--<dependency id="cordova.plugin.trapeze" url="https://github.com/psolipaPL/trapeze-cordova-plugin.git"/>-->

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Signicat">
                <param name="android-package" value="com.signicat.plugin.SignicatPlugin" />
            </feature>
        </config-file>

        <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest/application">
            <activity android:exported="true" android:name="com.connectis.sdk.internal.authentication.login.LoginActivity" android:theme="@style/Theme.Cordova.App.DayNight">
                <intent-filter android:autoVerify="true">
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:host="testpilot.hollandzorg.com" android:pathPrefix="/MijnSalland/Redirect" android:scheme="https" />
                </intent-filter>
            </activity>
            <activity android:exported="true" android:name="net.openid.appauth.AuthorizationManagementActivity" android:theme="@style/Theme.Cordova.App.DayNight">
                <intent-filter android:autoVerify="true">
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:host="testpilot.hollandzorg.com" android:pathPrefix="/MijnSalland/Redirect" android:scheme="https" />
                </intent-filter>
            </activity>
            <activity android:exported="true" android:name="com.connectis.sdk.api.authentication.digid.DigidResponseActivity" android:theme="@style/Theme.Cordova.App.DayNight" android:windowSoftInputMode="stateHidden">
                <intent-filter android:autoVerify="true">
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:host="testpilot.hollandzorg.com" android:pathPrefix="/MijnSalland/Redirect" android:scheme="https" />
                </intent-filter>
            </activity>
        </config-file>

        <source-file src="src/android/libs/android-sdk-1.1.7.aar" target-dir="app/libs" />
        <source-file src="src/android/SignicatPlugin.java" target-dir="src/com/signicat/plugin" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>

    <platform name="ios">
    
        <config-file target="config.xml" parent="/*">
            <feature name="Signicat">
                <param name="ios-package" value="SignicatPlugin" />
            </feature>
            <!--<preference name="SwiftVersion" value="6.2.1" />-->
            <preference name="SwiftVersion" value="5" />
        </config-file>
        
        <config-file target="*-info.plist" parent="com.apple.developer.associated-domains"> 
            <array> 
                <string>applinks:salproxy.product-league.com/</string>
                <string>applinks:testpilot.hollandzorg.com/</string> 
            </array> 
        </config-file> 
        <config-file target="*-Debug.plist" parent="com.apple.developer.associated-domains"> 
            <array> 
                <string>applinks:salproxy.product-league.com/</string>
                <string>applinks:testpilot.hollandzorg.com/</string> 
            </array> 
        </config-file> 

        <config-file target="*-Release.plist" parent="com.apple.developer.associated-domains"> 
            <array> 
                <string>applinks:salproxy.product-league.com/</string>
                <string>applinks:testpilot.hollandzorg.com/</string> 
            </array> 
        </config-file>

        <framework src="src/ios/ConnectisSDK.framework" custom="true" embed="true" />
        
        <source-file src="src/ios/SignicatPlugin.swift" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="AppAuth" spec="~> 2.0.0" />
            </pods>
        </podspec>
        
        <hook type="after_prepare" src="hooks/buildChanger.js" />

    </platform>

</plugin>









