<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-signicat"
    version="1.0.0">

    <name>cordova-plugin-signicat</name>

    <js-module name="Signicat" src="www/signicat.js">
        <clobbers target="Signicat" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=9.0.0" />
        <engine name="cordova-android" version=">=13.0.0" />
        <engine name="cordova-ios" version=">=7.1.0" />
    </engines>
    
    <platform name="android">
        
        <source-file src="src/android/libs/android-sdk-1.1.5.aar" target-dir="app/libs" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/SignicatPlugin.java" target-dir="src/com/signicat/plugin" />

    </platform>

    <platform name="ios">
        <framework src="src/ios/ConnectisSDK.framework" custom="true" embed="true" />

        <header-file src="src/ios/SignicatPlugin.h" />
        <source-file src="src/ios/SignicatPlugin.m" />

        <!-- Required for app-to-app flows like DigiD -->
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>connectis</string>
                <string>digid</string>
            </array>
        </config-file>

        <!-- Allow universal links if used -->
        <config-file target="*-Info.plist" parent="com.apple.developer.associated-domains">
            <array>
                <string>applinks:your-domain.com</string>
            </array>
        </config-file>
    </platform>

</plugin>








